# We maintain all the gitignore rules in this global config file, exacept that
# the rules for Unity projects still stay in their own directory, since some
# ignorable sub-dir names in Unity projects are very common names, such as
# "Library", "Obj", etc.

##############################################################################
# VS Code
#   Derived from
#   https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore
##############################################################################

**/.vscode/*
!**/.vscode/settings.json
!**/.vscode/tasks.json
!**/.vscode/launch.json
!**/.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

##############################################################################
# System files
##############################################################################

# macOS
.DS_Store

# Windows
[Dd]esktop.ini
Thumbs.db
Thumbs.db:encryptable
$RECYCLE.BIN/
